<script>
  $(function(){
  	$(window).load(function(){ // On load
  		$('.wavebox-container .wavebox-content').css({'height':(($(window).height()))+'px'});
  	});
  	$(window).resize(function(){ // On resize
  		$('.wavebox-container .wavebox-content').css({'height':(($(window).height()))+'px'});
  	});
  });
</script>

<script>
  $(function () {
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher('1a5bf2d16cdc6eef2287');
    var thisWaveId = $("#js-wave-id").val();
    var channelName = 'meow';
    var channel = pusher.subscribe(channelName);
    
    channel.bind('updated', function(data) {
      console.log(data);
      $("#wave-title").empty().val(data.title);
      $("#wave-content").empty().val(data.content);
    });
    
    $(".wave").keyup(function (event) {
      event.preventDefault();
      var valuesToSubmit = $(".wave").serialize();
      
      $.ajax({
        url: "/waves/" + thisWaveId,
        type: "PUT",
        data: valuesToSubmit
      });
    });
  });
</script>

<% var wave_id = thisWave.get('id') %>
<input type="hidden" id="js-wave-id" value="<%= wave_id %>">

<div class="wavebox-container">

  <div class="wavebox-content">
    <form class="wave">
      <input type="text" 
        id="wave-title"
        name="wave[title]" 
        placeholder="title"
        value="<%= thisWave.get('title') %>">
      <textarea id="wave-content" 
        name="wave[content]">
<%= thisWave.get('content') %></textarea>
      
      <div class="wave-form-buttons">
        <div class="save-button">
          <button class="button save">Save</button>
        </div>
      </div>
    </form>
    <div class="back-button">
      <button class="button" id="back-to-waves">Back</button>
    </div>
  </div>
  
  <div class="wavebox-contacts">
    <div class="in-wave">
      <h2>In wave</h2>
      <ul>
        <% _(thisWave.get('friends')).each(function (friend) { %>
          <li><%= friend.escape('email') %></li>
        <% }); %>
      </ul>
    </div>
    
    <div class="add-to-wave">
      <h2>Add to wave</h2>
      <form class="friend-search-box">
        <input type="text" 
          data-provide="typeahead" 
          autocomplete="off" 
          class="typeahead"
          id="search-friends"
          placeholder="Friend's name">
  
        <button class="friend-search-submit">+</button>
      </form>
      
      <form class="add-user-to-wave">
        <input type="submit" 
          id="submit-wave-to-user"
          style="visibility:hidden">
      </form>
    </div>
  </div>
  
  <div class="wavebox-robots">
    <div class="robot-1">
      <span class="place-robot-text">
        <h5>drag a robot here<br>to activate</h5>
      </span>
    </div>
    <div class="robot-2">
      <span class="place-robot-text">
        <h5>drag a robot here<br>to activate</h5>
      </span>
    </div>
  </div>
</div>

<script>
  var all_users = JSON.parse($("#all_users_json").html());
  
  $(function() {
    var typeAhead = {};
  
    typeAhead.Person = Backbone.Model.extend({});

    typeAhead.People = Backbone.Collection.extend({
      model: typeAhead.Person
    });

    dataset = [];
    
    _(all_users).each(function (user) {
      dataset.push(user)
    });

  	$(".typeahead").typeahead({
      source: function (query, process) {
        userObjs = {};
        userEmails = [];

        _.each(dataset, function(item, ix, list) {
          userEmails.push(item.email);
      
          userObjs[item.email] = item;
        });
    
        process(userEmails);
      }
  	});
  });
</script>
