<div id="wave-main">
  <br>
  <div class="wave-index-header">
    <div id="user-waves">
      <h1>Your Waves</h1>
    </div>
    <div id="new-wave-button">
      <button class="new-button" id="js-new-wave">Create A New Wave</button>
    </div>
  </div>
  <div class="wave-content">
    <% waves.each(function (wave) { %>
      <a href="#/waves/<%= wave.get('id') %>/edit">
        <div class="wave-link">
          <%= wave.escape("title") %>
        </div>  
        <div class="wave-remove">
          <button class="wave-delete button" id="<%= wave.escape('id') %>">
            <i class="icon icon-remove icon-white"></i>
          </button>
        </div>
      </a>
      <br>
    <% }); %>
  </div>
</div>