<div class="lightbox-content">
  <form class="new-wave" id="new-wave">
    
    <input type="text" 
      id="new-wave-title" 
      name="wave[title]" 
      placeholder="Wave title">
      
    <% var newWaveMessage = "Enter a really cool and interesting message to your wave participants here"; %>
      
    <textarea id="new-wave-content" 
      name="wave[content]"
      placeholder="<%= newWaveMessage %>" rows="4"></textarea>
      
    <div class="added-to-wave">
    
    </div>
    
    <form class="friend-add-box">
      <div id="friend-add-input">
        <input type="text" 
          data-provide="typeahead" 
          autocomplete="off" 
          class="typeahead"
          id="search-friends"
          placeholder="Friend's name">
      </div>
      <div id="friend-add-plus">
        <button class="wave-button" id="friend-add-button">+</button>
      </div>
    </form>
    
    
    <input type="submit" 
      class="wave-button save" 
      id="save-wave"
      value="Create"
      form="new-wave">
    
    <button class="wave-button back">Cancel</button>
  </form>
</div>

<script>
  var all_users = JSON.parse($("#all_users_json").html());
  
  $(function() {
    var typeAhead = {};
  
    typeAhead.Person = Backbone.Model.extend({});

    typeAhead.People = Backbone.Collection.extend({
      model: typeAhead.Person
    });

    dataset = [];
    
    _(all_users).each(function (user) {
      dataset.push(user)
    });

  	$(".typeahead").typeahead({
      source: function (query, process) {
        userObjs = {};
        userEmails = [];

        _.each(dataset, function(item, ix, list) {
          userEmails.push(item.email);
      
          userObjs[item.email] = item;
        });
    
        process(userEmails);
      }
  	});
  });
</script>