<!-- app/views/root/root.html.erb -->

<script>
  $(function(){
  	$(window).load(function(){ // On load
  		$('.container .sidebar .wave-container').css({'height':(($(window).height()))+'px'});
  	});
  	$(window).resize(function(){ // On resize
  		$('.container .sidebar .wave-container').css({'height':(($(window).height()))+'px'});
  	});
  });
</script>

<script type ="application/json" id="all_users_json">
  <%= User.find(:all, :conditions => ["id != ?", current_user.id]).to_json.html_safe %>
</script>

<script type="application/json" id="user_id_json">
  <%= current_user.id.to_json.html_safe %>
</script>

<script type ="application/json" id="waves_json">
  <%= current_user.waves.to_json.html_safe %>
</script>

<div class="container">
  <div class="container-row">
    
    <div class="sidebar">
      <div class="sidebar-content">
        <div id="test-1">
          <%= button_to "Sign out", 
            destroy_user_session_url, 
            :method => "delete", 
            :class => "log-out-button" %>
        <h1>Navigation</h1>
        <hr>
        <ul>
          <li><a href="#" id="nav-link">Waves</a></li>
          <br>
          <li><a href="#" id="nav-link">Something</a></li>
          <br>
          <li><a href="#" id="nav-link">Something else</a></li>
        </ul>

      </div>
    </div>
    
    <div class="wave-container">
      
    </div>
    
  </div>
</div>
