<!-- app/views/root/root.html.erb -->

<script>
  $(function(){
  	$(window).load(function(){ // On load
  		$('.container .sidebar .wave-container').css({'height':(($(window).height()))+'px'});
  	});
  	$(window).resize(function(){ // On resize
  		$('.container .sidebar .wave-container').css({'height':(($(window).height()))+'px'});
  	});
  });
</script>

<script type ="application/json" id="all_users_json">
  <%= User.find(:all, :conditions => ["id != ?", current_user.id]).to_json.html_safe %>
</script>

<script type="application/json" id="user_id_json">
  <%= current_user.id.to_json.html_safe %>
</script>

<script type ="application/json" id="waves_json">
  <%= current_user.waves.to_json.html_safe %>
</script>

<!--script type ="application/json" id="unconfirmed_waves_json">
  <%#= current_user.waves.where("confirmed = 'false'").to_json.html_safe %>
</script-->

<div class="container">
  <div class="container-row">
    
    <div class="sidebar">
      <div class="sidebar-content">
        <%= button_to "Sign out", 
          destroy_user_session_url, 
          :method => "delete", 
          :class => "log-out-button" %>
        <h1>Using Wavly...</h1>
        <div class="separator"></div>
        <ul>
          <h4>Versions: </h4>
          Late to join the conversation? You can access and store your Waves for later. Click the version date to access a previous version of your Wave. The first step is to
          <h4>Save</h4>
          You have to click the save button in order to version a Wave, otherwise the conversation will continue as normal. It's also a good idea to save your current wave before you
          <h4>Commit</h4>
          Sometimes old is better than new: the commit button lets you commit to the current version of the wave you are viewing. Fortunately, if you don't like the version that you're viewing, you can always
          <h4>Revert</h4>
          Out with the old, in with the new: the revert button will take you back to the prior conversation.
        </ul>

      </div>
      
    </div>
    
    <div class="wave-container">
    
    </div>
    
  </div>
</div>
