<!-- app/views/root/root.html.erb -->

<script type ="application/json" id="all_users_json">
  <%= User.find(:all, :conditions => ["id != ?", current_user.id]).to_json.html_safe %>
</script>

<script type="application/json" id="user_id_json">
  <%= current_user.id.to_json.html_safe %>
</script>

<script type ="application/json" id="waves_json">
  <%= current_user.waves.to_json.html_safe %>
</script>

<div class="container">
  <div class="container-row">
    <div class="sidebar">
      <div class="sidebar-content">
        <div class="sidebar-window">
          <h2>Navigation</h2>
          <ul>
            <li>Waves</li>
            <br>
            <li>Something</li>
            <br>
            <li>Something else</li>
          </ul>
        </div>
        
        <div class="sidebar-nav">
          <div class="nav-button">
            <a href="#" id="navigation">
              <div id="button-text">Navigation</div>
            </a>
          </div>
          
          <div class="middle-buttons">
            <div class="middle-button-1">
              <a href="#" id="robots">
                <div id="button-text">Robots</div>
              </a>
            </div>
            
            <div class="middle-button-2">
              <a href="#" id="contacts">
                <div id="button-text">Contacts</div>
              </a>
            </div>
          </div>
          
          <div class="nav-button" id="bottom-nav-button">
            <a href="#" id="something">
              <div id="button-text">Something</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="wave-container">
      
    </div>
  </div>
</div>
