// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wave {
  float: left;
  width: 80%;
  height: 100%;
  color: white;
}

.sidebar {
  float: left;
  width: 20%;
  height: 100%;
  left: 0;
}

.container {
  width: 100%;
  height: 800px;
  background-color: lighten(#F2EEDB, 7%);
}

.container-row {
  position: absolute;
  top: 50px;
  width: 100%;
}

// COLORS

$purple: darken(#DDABEB, 12%);
$dark-purple: darken(#DDABEB, 17%);

* {
  font-family: "HelveticaNeue";
  -moz-font-family: "Helvetica";
  color: #2D2D2D;
}