// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$orange: darken(#FF9A2E, 0%);
$dark-orange: darken(#FF9A2E, 10%);
$green: darken(#C9E69A, 20%);
$dark-green: darken(#C9E69A, 30%);
$black: #2D2D2D;
$purple: #58488A;
$light-purple: #C7C0DE;

.wave-container {
  float: left;
  margin-left: 21.5%;
  width: 80%;
  height: 100%;
  overflow-y: scroll;
}

h4 {
  color: white;
}

.separator {
  height: 0px;
  line-height: 0px;
  margin-left: 0px;
  border-bottom: 1px solid white;
  width: 95%;
  margin-bottom: 5px;
}

.sidebar {
  position: fixed;
  top: 0;
  float: left;
  width: 20%;
  height: 100%;
  left: 0;
  color: $light-purple;
  overflow-y: auto;
}

.sidebar-content {
  position: absolute;
  padding-left: 12px;
  padding-top: 0px;
  top: 0;
  height: 100%;
  width: 95%;
  font-size: 14px;
  background-color: $purple;
  
  ul {
    color: darken(white, 15%);
  }
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
}

.container-row {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

* {
  font-family: "BentonSans", "HelveticaNeue", "Helvetica", sans-serif;
  -moz-font-family: "BentonSans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 200;
  color: $black;
}

#nav-link {
  color: white;
  text-decoration: none;
}

#nav-link:hover {
  color: $light-purple;
}
