$orange: darken(#FF9A2E, 0%);
$dark-orange: darken(#FF9A2E, 10%);
$black: #2D2D2D;
$white: darken(white, 60%);
$purple: #58488A;
$light-purple: #C7C0DE;

@mixin splash-button-style {
  border: none;
  color: $purple;
  background-color: lighten($light-purple, 12%);
  text-shadow: 0 1px 0 rgba(255,255,255,0.9);
  border-radius: 4px;
}

.splash-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.splash-header-menu {
  height: 10px;
  text-align: center;
  margin-top: 10px;
  color: $light-purple;
  font-size: 20px;
  margin-left: 19%;
}

.header-links, .header-log-in {
  float: left;
}

#separator {
  color: $light-purple;
  font-size: 18px;
}


.header-log-in {
  padding-left: 23px;
}

#log-in-fields {
  height: 20px;
}

#password-field, #email-field {
  border: none;
  height: 16px;
  width: 140px;
}

#forgot-password-link {
  font-size: 12px;
  margin-top: 5px;
  color: $light-purple;
  float: left;
  margin-left: 65px;
}

#forgot-password-link:hover {
  color: white;
}

.sign-in-button {
  @include splash-button-style;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 10px;
  height: 24px;
}

.sign-in-button:hover {
  background-color: white;
}

#checkbox-style {
  position: relative;
}

#checkbox, #checkbox-text {
  float: left;
}

#checkbox-text {
  margin-top: 5px;
  padding-left: 5px;
}

#checkbox-text-style {
  color: $light-purple;
  font-size: 12px;
}

.header-menu-link {
  padding-right: 23px;
  padding-left: 23px;
  color: $light-purple;
  font-size: 18px;
  font-weight: bold;
}

.header-menu-link:hover {
  color: white;
}

.splash-header {
  height: 460px;
  background-color: $purple;
  position: absolute;
  top: 0;
  width: 100%;
}

.splash-header-logo {
  text-align: center;
  margin-top: 130px;
}

.logo {
  height: 60px;
}

.splash-header-subtitle {
  text-align: center;
  margin-top: 10px;
}

#wavly-title {
  color: white;
  font-size: 45px;
}

#wavly-subtitle {
  color: $light-purple;
  font-size: 25px;
}

.splash-header-sign-up {
  text-align: center;
  width: 100%;
  margin-top: 25px;
}

.sign-up-button {
  width: 300px;
  padding-left: 60px;
  font-weight: 500;
  font-size: 15px;
  padding-right: 60px;
  height: 40px;
  @include splash-button-style;
}

.sign-up-button:hover {
  background-color: white;
}